.card {
  width: 340px;
  height: 334px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 15px 15px;
}

.image-box {
  width: 340px;
  height: 200px;
  background-color: #dddfff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
}
