* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Pretendard', sans-serif;
}

header {
  padding: 32px 200px;
  max-width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--linkbrary-bg, #F0F6FF);
  z-index: 1;
}

header>div {
  height: 28px;
  margin: 0 auto;
  max-width: 1520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>div>a:nth-child(2) {
  padding: 16px 20px;
  width: 128px;
  background: var(--gra-purpleblue-to-skyblue,
      linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #f5f5f5;
}