.addlink-container {
  padding: 60px 32px 90px;
  background: var(--Linkbrary-bg, #f0f6ff);
  margin-bottom: 40px;
}

.addlink-inputbox {
  max-width: 800px;
  padding: 16px 20px;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-white, #fff);
  position: relative;
}

.addlink-inputbox img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 35%;
}

.addlink-inputbox div {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.addlink-input {
  border: 0px;
  outline: none;
  width: 80%;
  text-overflow: ellipsis;
}

.addlink-button {
  width: 80px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 0px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );

  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media (max-width: 1123px) {
}

@media (max-width: 779px) {
  .addlink-input {
    width: 50%;
  }

  .addlink-container {
    padding: 24px 32px 40px;
    margin-bottom: 20px;
  }

  .addlink-inputbox {
    padding: 8px 10px;
  }

  .addlink-inputbox img {
    top: 28%;
    left: 15px;
  }
}
