main {
  margin-top: 92px;
  background-color: #f0f6ff;
  padding: 20px 0 60px;
  margin-top: 92px;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

main img {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
}

main h6 {
  margin: 0 0 20px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

main p {
  margin: 0;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
