* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Pretendard", sans-serif;
  margin: 0;
}

header {
  padding: 32px 200px;
  max-width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--linkbrary-bg, #f0f6ff);
  z-index: 1;
}

.header-son {
  height: 28px;
  margin: 0 auto;
  max-width: 1520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  padding: 16px 20px;
  width: 128px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  border-radius: 8px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-info img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.user-info h6 {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1123px) {
  header {
    padding: 32px 33px;
  }

  .header-son {
    width: 706px;
  }
}

@media (max-width: 779px) {
  header {
    padding: 18px 32px;
  }

  .header-son {
    width: 100%;
  }

  header img {
    width: 88.667px;
    height: 16px;
  }

  header h6 {
    display: none;
  }
}
