footer {
  width: 100%;
  margin-top: 60px;
  text-align: center;
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-son {
  height: 160px;
  padding: 32px 104px 64px;
  background: var(--the-julge-black, #111322);
}

.footer-son-son {
  margin: 0 auto;
  max-width: 1695px;
  display: flex;
  justify-content: space-between;
  color: #cfcfcf;
}

.foot-left {
  color: #676767;
}

.foot-center {
  display: flex;
  width: 181.111px;
  gap: 30px;
}

.foot-center a {
  color: #cfcfcf;
}

.foot-right {
  display: flex;
  gap: 12px;
}

@media (max-width: 1123px) {
}

@media (max-width: 779px) {
  footer {
    margin-top: 40px;
  }

  .footer-son {
    padding: 32px 32px 64px 32px;
  }

  .footer-son-son {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "1 2"
      "3 .";
  }

  .foot-left {
    grid-row: 2;
    width: 105px;
  }

  .foot-center {
    margin-bottom: 60px;
    grid-column: 1;
  }

  .foot-right {
    grid-column: 2;
  }
}
